body {
  background-image: url(body.avif);
  background-repeat: no-repeat;
  background-size: cover;
}
.oneDay {
  display: flex;
  flex-direction: column;
  background-color: #e8c4c469;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 300px;
  margin-bottom: 20px;
}
.App {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}
.AppWeekend {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}
.day {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
ul, li {
  list-style-type: none;
  padding: 10px;
  margin: o;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.addBtn {
  margin-top: 5px;
  background: #CE7777;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.deleteBtn {
  background: #2B3A55;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  border: #2B3A55 2px solid;
  width: 200px;
}
img {
  border-radius: 50%;
}